<ion-view view-title="Saylani Quarbani onlineq">
  <ion-nav-buttons side="right">
        <button class="button button-small button-calm" ng-click="login()" ng-hide="uid">
          <i class="icon ion-log-in"></i>Login
        </button>
        <button class="button button-small button-calm" ng-click="logout()" ng-show="uid">
          <i class="icon ion-log-out"></i>logout
        </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="card" >
      <div class="item item-divider item-positive">
        Login with Facebook
      </div>
          <button ng-click="login()" class="item item-input button button-full button-calm">
            <i class="icon ion-social-facebook"></i>acebook
          </button>
        </form>

      </div>
    </div>

  </ion-content>
</ion-view>
