<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Online Quarbani" >
  <ion-content>

    <div class="row responsive-sm">
      <div class="col card">
        <div class="item">
          <img class="full-image" src="../img/qurbani.jpg">
          <h2>CAMEL</h2>
          <p>Rs:{{}}</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <button ng-click="gotoOQ('CAMEL')" class="item item-input button button-full button-calm">
            Make your Qurbani
          </button>
        </div>
      </div>

      <div class="col card">
        <div class="item">
          <img class="full-image" src="../img/qurbani.jpg">
          <h2>COW</h2>
          <p>Rs:{{}}</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <button ng-click="gotoOQ('COW')" class="item item-input button button-full button-calm">
            Make your Qurbani
          </button>
        </div>
      </div>

      <div class="col card">
        <div class="item">
          <img class="full-image" src="../img/qurbani.jpg">
          <h2>GOAT</h2>
          <p>Rs:{{}}</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <button ng-click="gotoOQ('GOAT')" class="item item-input button button-full button-calm">
            Make your Qurbani
          </button>
        </div>
      </div>


    </div>

  </ion-content>
</ion-view>
